<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Драгун Наталья. Креативный стилист.

    body.landing

        header.header.landing__header
            <svg viewbox='0 0 570 180' xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="380" height="100"><defs id="SvgjsDefs5902"></defs><g id="SvgjsG5903" rel="mainfill" name="main_text" xmlns:name="main_text" transform="translate(119.40242309570311,-150.36768646240233)" fill="#000000"><path d="M54.49 182.39L44.94 182.39L44.94 223.37L16.21 182.39L6.50 182.39L6.50 240L16.13 240L16.13 199.01L44.77 240L54.49 240ZM96.71 240L107.08 240L84.03 180.74L61.07 240L71.44 240L73.91 233.33L94.16 233.33ZM84.03 205.02L91.03 225.02L77.04 225.02ZM142.47 182.39L108.72 182.39L108.72 191.19L120.82 191.19L120.82 240L130.37 240L130.37 191.19L142.47 191.19ZM179.59 240L189.96 240L166.91 180.74L143.95 240L154.32 240L156.79 233.33L177.04 233.33ZM166.91 205.02L173.91 225.02L159.92 225.02ZM206.09 230.37L206.09 182.39L196.46 182.39L196.46 240L227.41 240L227.41 230.37L206.09 230.37ZM256.71 191.19L256.71 182.39L234.24 182.39L234.24 191.19L240.66 191.19L240.66 231.19L233.91 231.19L233.91 240L257.04 240L257.04 231.19L250.29 231.19L250.29 191.19Z" fill="#000000" style="fill: #D0542B;"></path></g><g id="SvgjsG5904" rel="mainfill" name="symbol" xmlns:name="symbol_mainfill" transform="translate(-0.056395339965827414,0.004631423950195312) scale(1.2)" fill="#000000"><path d="M52.9,100c-1.8,0-3.6-0.3-5.5-0.8c-5.3-1.5-10.5-5.6-10.2-11.3c0-0.2,0.1-0.4,0.3-0.6c0.1-0.1,7.1-6.1,11.4-19.4  c-1.7,0.6-3.5,0.9-5.3,0.9c-4.4,0-15.1-1.9-21-19.4c-1.3-3.9-2-8.9-1.9-13.9c-3.9,5-10.5,5.1-10.8,5.1c0,0,0,0,0,0  c-0.4,0-0.7-0.3-0.8-0.7c0-0.4,0.2-0.8,0.6-0.9c3.2-0.8,4.4-2.7,4.8-4.1c-1.3,0.7-2.9,0.8-3.7,0.8c-0.2,0-0.3,0-0.3,0  c-0.3,0-0.6-0.2-0.7-0.6c-0.1-0.3,0-0.7,0.3-0.9c1.8-1.3,2-2.1,2-2.4c0-0.4-0.5-0.7-0.8-0.9l-0.7-0.3c-0.1,0-0.1-0.1-0.2-0.1  c-0.7-0.3-1.4-0.7-2.1-1.1c-6.5-3.8-9.6-10.8-7.7-17.8C2.2,5.5,8.4-0.9,17.8,0.1c8.1,0.8,11.8,5.4,13.4,9.5c2-1.7,4.1-3.1,6.4-4.2  c5.4-2.5,11.2-3.7,17-3.7c9,0,15.1,2.9,15.3,3c0,0,0,0,0.1,0c2.4,0.9,4.5,2.3,6.3,4.1c4.8,4.8,2.4,9.2,1.3,10.8  c3.5,3.7,5.2,7.5,5.2,7.7c1.2,2.8,2.2,5.7,3.1,8.7c0,0,0,0.1,0.1,0.2c0.6,1.9,2.7,7.1,5.5,6.4c0.3-0.1,0.6,0,0.8,0.3  c0.2,0.2,0.2,0.6,0.1,0.9c-0.1,0.1-1.4,2.6-4.1,3.9c1.1,9.4-0.4,14.9-0.4,15.1c0,0.1,0,0.1-0.1,0.2c-1.2,2.2-5.4,2.4-8.8,2.4l0,0  l-0.8,0c-2,0-4-0.1-6-0.3c0,0,0,0,0,0c0,0,0,0-0.1,0c-0.5,0-4.6,0.2-6.6,7.3c-2,7-4.2,16.9-3.4,23.8c0,0.2-0.1,0.5-0.2,0.6  C62,96.9,58.9,100,52.9,100z M38.8,88.3c0,4.6,4.6,8.1,9,9.3c1.7,0.5,3.4,0.7,5.1,0.7c4.4,0,7-1.9,7.9-2.5c-0.7-7.2,1.5-17,3.5-24  c2.2-8,7.2-8.4,8-8.4c0.1,0,0.1,0,0.2,0c1.9,0.2,3.9,0.3,5.9,0.3l0.7,0c5.2,0,6.9-0.8,7.4-1.6c0.2-0.8,1.4-6.2,0.3-15  c0-0.4,0.2-0.7,0.5-0.9c1.4-0.5,2.3-1.4,3-2.2c-3.4-0.7-5.3-6.1-5.7-7.3c0-0.1-0.1-0.1-0.1-0.2c-0.9-3-1.9-5.9-3.1-8.7  c0,0-1.8-4.1-5.4-7.7c-0.3-0.3-0.3-0.7-0.1-1c0.8-0.8,3.9-4.8-0.7-9.3c-1.7-1.7-3.7-2.9-5.9-3.8c-0.1,0-0.1-0.1-0.2-0.1  c-0.9-0.4-6.6-2.8-14.5-2.8c-5.6,0-11.2,1.2-16.4,3.6c-2.5,1.1-4.8,2.7-6.9,4.7c-0.2,0.2-0.5,0.3-0.8,0.2c-0.3-0.1-0.5-0.3-0.6-0.5  c-1.3-3.9-4.4-8.7-12.5-9.5C9.1,0.8,3.6,6.5,2.1,12.2c-1.3,5-0.2,11.8,6.9,16c0.7,0.4,1.4,0.8,2.1,1.1c0,0,0,0,0,0c0,0,0,0,0,0  l0.7,0.3c1.3,0.7,1.7,1.6,1.7,2.3c0,0.7-0.2,1.4-0.8,2.1c0.8-0.2,1.6-0.6,2-1.3c0.2-0.3,0.5-0.4,0.9-0.4c0.3,0.1,0.6,0.4,0.6,0.7  c0,0,0.3,2.8-1.7,5.1c2.3-0.9,4.9-2.6,6.3-5.9c0.1-0.3,0.3-0.5,0.6-0.6c0.3-0.1,0.6,0,0.8,0.2c0.2,0.2,0.2,0.4,0.2,0.6  c-0.5,5.8,0.1,12,1.6,16.5c5.5,16.5,15.4,18.3,19.5,18.3c2.2,0,4.3-0.5,6.2-1.4c0.3-0.1,0.6-0.1,0.9,0.1c0.2,0.2,0.3,0.5,0.3,0.8  C47,80.3,40.3,87,38.8,88.3z" fill="#000000" style="fill: #D0542B;"></path></g></svg>

            .header__menu
                ul.header__list
                    li.header__item
                        a.header__link(href='#') Обо мне
                    li.header__item
                        a.header__link(href='#') Мои работы
                    li.header__item
                        a.header__link(href='#achievements') Достижения
                    li.header__item
                        a.header__link(href='#') Контакты

        section.main
            .main__filter 

        section.main-content
            .main-content__content-border
                .main-content__content
                    h1.main-content__headline Драгун Наталья
                    p.main-content__description дипломированный специалист в области парикмахерского искусства 

        section.achievements#achievements
            h2.achievements__headline Достижения
            .line
            .owl-carousel.owl-theme
                img(src=require('./images/24.09.14 001.jpg'))
                img(src=require('./images/07.10.14 001.jpg'))
                img(src=require('./images/09.10.14 001.jpg'))
                img(src=require('./images/10.10.14 001.jpg'))
                img(src=require('./images/23.06.15 001.jpg'))
                img(src=require('./images/24.06.15 001.jpg'))
                img(src=require('./images/25.09.15 001.jpg'))
                img(src=require('./images/16.06.17.jpg'))
                img(src=require('./images/09.11.17 001.jpg'))
                img(src=require('./images/26.09.17 001.jpg'))
                img(src=require('./images/19.02.18 001.jpg'))
                img(src=require('./images/19.02.18 002.jpg'))
                img(src=require('./images/11.07.18 001.jpg'))
            .achievements__navigation
                .prev
                    <i class="fas fa-7x fa-angle-left"></i>
                .next
                    <i class="fas fa-7x fa-angle-right"></i>


        
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>                                                                  
